* {
    user-select: none;
    background-color: #00ff37;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 18px;
    font-weight: bolder;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
}
